/* Colors t
#6E3667 -  Violet
#1A0315  - Deep Plum
#88D317  - Green, green
#535353  - Grey
*/

/* Mentor */
img {
	max-width: 100%;
}


/* 
Backgrounds and collors of it
			*/
.navbar {
	background-color: #263244 ;

}

header {
 	margin: 0 5px 0 2px;
 	padding: 5px 0 2px 0 ;
 	width: 100% ;
}

body {
	background-color: #C63D0F ;
	margin: 0 0 0 25px;
}

footer {

}

.textWhoIsMe{
	float: right;
	width: 100%;
    margin: 0 0 10px 0;

}

.whoIsMe {
	text-decoration: underline;
}


/*
Image
				*/
#headerwrap {
	position: relative;
}

.photome {
	display: block;       /* will allow auto marging to adjust the image*/
	max-width: 100%;     /* just sets a max width */ 
	margin: 65px auto 30px;  
	border-radius: 10px; /*adds a rounded coners to a picure, this will make the picture a circle*/
	padding: 15px auto 0;
	position: relative;
}

#text
{

    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 50%;
    transform: translateX(-50%);
        color:white;
    font-size:24px;
    font-weight:bold;
    
}

#text2
{

    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 50%;
    transform: translateX(-50%);
        color:white;
    font-size:24px;
    font-weight:bold;
    
}
.photoOfMe {
	display: block;       /* will allow auto marging to adjust the image*/
	max-width: 150px;     /* just sets a max width */ 
	margin: 0 30px 30px; 
	border-radius: 100%; /*adds a rounded coners to a picure, this will make the picture a circle*/
	float: left;
}



/* Gallery */

div.img {
	display: block;
    margin: 5px 0 0 0;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
}

div.img:hover {
    border: 1px solid #777;
}

div.img img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}

div.gallery {
	position:fixed;
}

div.whoIsMeWrap {
	position: fixed;
	overflow: auto;
}